@charset "utf-8";
/* CSS Document */
body {
	max-width: 640px;
	margin: 0 auto;
}
body a {
	text-decoration: none;
	font-size: 12px;
}
.clear {
	clear: both;
}
.index_bg {
	padding: 0px;
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	display: none;
}
.index_bg img {
	width: 100%;
}
.index_bg2 {
	padding: 0px;
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.index_bg2 img {
	width: 100%;
}
.index_bottom {
	width: 90%;
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.index_l {
	width: 20%;
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	float: left;
	text-align: center;
}
.index_l img {
	width: 80%;
}
.index_m {
	width: 60%;
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	float: left;
	text-align: center;
}
.index_m img {
	width: 90%;
}
.index_r {
	width: 20%;
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	float: left;
	text-align: center;
}
.index_r img {
	width: 80%;
}
body img {
	max-width: 100%;
}
.logo {
	width: 40%;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5%;
	margin: 0px;
}
.logo img {
	width: 100%
}
.back {
	width: 15%;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	margin: 0px;
	position: fixed;
	left: 0px;
	bottom: 0px;
	max-width: 50px;
}
.back img {
	width: 100%
}
.back2 {
	width: 15%;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	margin: 0px;
	position: fixed;
	bottom: 30px;
	max-width: 50px;
	right: 5%;
	z-index: 999;
}
.back2 img {
	width: 100%
}
.jiangpin {
	width: 20%;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	margin: 0px;
	position: fixed;
	top: 30px;
	right: 0%;
	z-index: 999;
}
.jiangpin img {
	width: 100%
}
.biaoti {
	padding: 0px;
	width: 70%;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.biaoti img {
	width: 100%;
}
.zhuan {
	width: 55%;
	margin: 0 auto;
	position: absolute;
	z-index: 100;
	top: 55%;
	left: 0px;
	right: 0px;
}
.zhuan img {
	width: 100%;
}
.huodongguize_but {
	position: absolute;
	left: 0;
	width: 8%;
	top: 15%;
}
.cishu {
	width: 50px;
	font-size: 18px;
	font-weight: bold;
	color: #ff3636;
	position: absolute;
	background-image: url(../images/cishu.png);
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0px;
	height: 41px;
	top: 23%;
	right: 0px;
	padding-top: 17px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
}
.huodongguize_but img {
	width: 100%;
}
/*活动规则*/
.huodongguize_bg {
	width: 100%;
	max-width: 640px;
	height: 100%;
	position: fixed;
	top: 0;
	background-image: url(../images/black.png);
	background-repeat: repeat;
	z-index: 100;
}
.huodongguize {
	bottom: 0;
	width: 90%;
	height: 68%;
	line-height: 35px;
	font-size: 12px;
	margin-top: 6%;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: relative;
	padding: 5%;
}
.huodongguize_img {
	width: 90%;
	position: absolute;
	z-index: -1;
}
.huodongguize_img img {
	width: 100%;
}
.close {
	position: absolute;
	top: -10px;
	font-size: 18px;
	right: 5%;
	color: #fff;
	width: 25px;
}
.close img {
	width: 100%;
}
.close2 {
	position: absolute;
	top: -40px;
	font-size: 18px;
	right: -30px;
	color: #fff;
	width: 85px;
}
.close2 img {
	width: 100%;
}
.huodongguize_t {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #a4001d;
	border-right-color: #a4001d;
	border-bottom-color: #a4001d;
	border-left-color: #a4001d;
}
.huodongguize_c {
	font-size: 12px;
	line-height: 24px;
	margin-top: 15%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0%;
	padding-right: 5%;
	padding-bottom: 5%;
	padding-left: 5%;
	height: 85%;
	overflow-y: scroll;
	overflow-x: hidden
}
.huodongguize_c span {
	color: #e13f2d;
	padding-right: 5px;
}
.huodongguize_c strong {
	color: #e13f2d;
	font-size: 16px;
	font-weight: normal;
}
.huodongguize_c2 {
	font-size: 12px;
	line-height: 24px;
	margin-top: 50%;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0%;
	padding-right: 2%;
	padding-bottom: 5%;
	padding-left: 2%;
	height: 70%;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 55%;
}
.queding2 {
	width: 60%;
	margin: 0 auto;
}
.chenggong {
	width: 25%;
	margin: 0 auto!important;
}
.huodongguize_c2 p {
	margin: 0px;
	padding: 0px;
}
.huodongguize_c2 span {
	color: #609afe;
	padding-right: 5px;
}
.huodongguize_c2 i {
	font-style: normal;
	color: #F00;
}
.huodongguize_c2 strong {
	color: #ff0000;
	font-size: 12px;
	font-weight: normal;
}
/*支付提示*/
.zhifu_bg, .zhifu_bg2, .zhifu_bg3, .zhifu_bg4, .zhifu_bg5 {
	width: 100%;
	max-width: 640px;
	z-index: 100;
	height: 100%;
	position: fixed;
	top: 0;
	background-image: url(../images/black.png);
	background-repeat: repeat;
	z-index: 1000;
}
.zhifu_c {
	width: 300px;
	height: 207px;
	max-width: 640px;
	line-height: 22px;
	font-size: 12px;
	margin-top: 30%;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
	color: #fff;
	background-image: url(../images/tishi_bg.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	left: 0px;
	right: 0px;
	position: relative;
	padding-top: 100px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.zhifu_c strong {
	font-size: 24px;
	line-height: 50px;
}
.zhifu_c img{ width:20%}

.zhifu_c2 {
	width: 60%;
	max-width: 640px;
	line-height: 25px;
	font-size: 14px;
	margin-top: 0%;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
	color: #333;
	position: fixed;
	top: 25%;
	left: 0px;
	right: 0px;
	position: relative;
	background-color: #ffffff;
	border: 2px solid #f9e8a5;
	border-radius: 10px;
	padding-top: 8%;
	padding-right: 5%;
	padding-bottom: 5%;
	padding-left: 5%;
}
.zhifu_c2 img {
	width: 30%;
	margin-bottom: 10px;
}
.zhifu_c2 strong {
	font-size: 18px;
	color: #e12829;
	line-height: 40px;
}
.zhifu_c2 p{
	margin: 0px;
	padding: 0px;
}
.queding {
	width: 60%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	position: absolute;
	top: 55%;
	left: 24%;
	text-align: center;
}
.queding img {
	width: 40%;
	margin: 0 auto;
}
.queren2 {
	color: #fff;
	background-color: #e60012;
	background: linear-gradient(#e60012, #e60012);
	width: 100%;
	height: 50px;
	text-align: center;
	font-size: 14px;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.but_bg {
	width: 100%;
	max-width: 640px;
	text-align: center;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.tishi_queding {
	position: absolute;
	bottom: 0;
	font-size: 12px;
	color: #FFF;
	text-align: center;
	left: 0;
	right: 0;
}
/*我的*/
.wode {
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
}
.wode img {
	width: 100%;
}
.quanma {
	margin: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #eee;
	border-right-color: #eee;
	border-bottom-color: #eee;
	border-left-color: #eee;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px; position:relative;
}
.quanma_right{ position:absolute; width:3%; right:0; top:40%;}
.quanma_l {
	width: 25%;
	float: left;
}
.quanma_l img {
	width: 100%;
}
.quanma_r {
	width: 70%;
	float: right;
	font-size: 14px;
	color: #999;
	line-height: 25px;
}
.quanma_r p {
	margin: 0px;
	padding: 0px;
}
.quanma_r strong {
	font-size: 14px;
	color: #666;
}
.quanma_r span {
	color: #fff!important;
	float: right;
	background-color: #da2128;
	font-size: 12px;
	padding-top: 0px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 3px;
	margin-top: 16px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	line-height: 20px!important;
	height: 20px; border-radius:5px;
}
/*shaodeng*/
.shaodeng {
	width: 15%;
	margin-top: 40%;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.shaodeng img {
	width: 100%;
}
.xiangqing {
	font-size: 12px;
	background-color: #FFF;
	width: 90%;
	max-width: 450px;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	line-height: 25px;
	color: #333;
	padding-top: 0px;
	padding-right: 5%;
	padding-bottom: 5%;
	padding-left: 5%;
}
.xiangqing2 {
	font-size: 12px;
	background-color: #FFF;
	width: 100%;
	max-width: 450px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	line-height: 25px;
	color: #333;
	padding-top: 0px;
	padding-right: 0%;
	padding-bottom: 5%;
	padding-left: 0%;
}
.xiangqing_t {
	font-size: 14px;
	font-weight: bold;
	line-height: 35px;
	color: #e12829;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.xiangqing_t span {
	color: #fb0036!important;
	font-weight: normal;
}
.xiangqing span {
	color: #e60012;
}
.chakan {
	font-size: 12px;
	line-height: 25px;
	color: #ed338b;
	border: 1px solid #ed338b;
	padding: 3px;
	border-radius: 5px; /* 所有角都使用半径为5px的圆角，此属性为CSS3标准属性 */
}
/*地址*/
.dizhi_bg {
	background-color: #ffeed8;
	padding: 10px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	border-radius: 5px; /* 所有角都使用半径为5px的圆角，此属性为CSS3标准属性 */
}
.dizhi_bg img {
	max-width: 100%;
}
.dizhi_c {
	background-color: #fff;
	padding: 10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-radius: 5px; /* 所有角都使用半径为5px的圆角，此属性为CSS3标准属性 */
}
.txt1 {
	width: 100%;
	line-height: 40px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #eee;
	border-right-color: #eee;
	border-bottom-color: #eee;
	border-left-color: #eee;
}
.querentijiao {
	background-image: url(../images/quedingtijiao.png);
	background-repeat: no-repeat;
	background-position: center center;
	padding: 0px;
	height: 43px;
	width: 210px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-size: contain;
	background-color: transparent;
	border: none;
}
.shangchuan_txt1 {
	font-size: 18px;
	color: #140080;
	font-weight: bold;
	text-align: center;
}
.shangchuan_txt2 {
	font-size: 14px;
	color: #ec1647;
	text-align: center;
}
.hongbao {
	text-align: center;
	color: #fff;
	position: absolute;
	top: 45%;
	font-size: 12px;
	line-height: 25px;
	width: 50%;
	left: 25%;
}
.hongbao span {
	font-size: 16px;
	line-height: 35px;
}
.hongbao strong {
	font-size: 24px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
/*上传*/
.shangchuan {
	width: 100%;
	max-width: 640px;
	margin-top: -20px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	padding-top: 30px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-align: center;
	border: 0px solid #ccc;
	background-color: #fff2f3;
	font-size: 12px;
	color: #ec1647;
}
.shangchuan strong {
	font-size: 18px;
	color: #140080;
}
.shangchuan_l {
	width: 50%;
	float: left;
	text-align: center;
	font-size: 14px;
}
.shangchuan_l strong, .shangchuan_r strong {
	font-size: 14px;
}
.shangchuan_r {
	width: 50%;
	float: right;
	text-align: center;
	font-size: 14px;
}
.shangchuan_but {
	width: 100%;
	max-width: 640px;
	text-align: center;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
}
.tupiantijiao {
	background-image: url(../images/querenshangchuan.png);
	background-repeat: no-repeat;
	background-position: center center;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	width: 163px;
	height: 40px;
	background-size: contain;
	background-color: transparent;
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#drop_area, #drop_area2 {
	margin: 0 auto;
}
/*滚动新闻*/
.gundong {
	width: 100%;
	background-image: url(../images/zhongjiangmingdan.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	height: 55px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	overflow: hidden;
	position: absolute;
	top: 78%;
	padding-top: 35px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	left: 0%;
}
#FontScroll {
	width: 100%;
	height: 55px;
	line-height: 55px;
	border: 0px solid green;
	overflow: Hidden;
	padding: 0px 0;
	margin: 0 auto;
	text-align: center;
}
#FontScroll .line {
	text-align: center;
	width: 100%;
}
#FontScroll ul li a {
	color: #9f0c93;
	font-size: 14px;
	text-align: center;
}
.bottom {
	width: 90%;
	position: absolute;
	top: 75%;
	margin: 0 auto;
	text-align: center;
	left: 5%;
	line-height: 30px;
	border: 0px solid #fff;
}
.bottom a {
	font-size: 14px;
	color: #fff;
}
.guize_t {
	width: 60%;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
}
.guize_t img {
	width: 100%;
	margin: 0 auto;
}
.xiangqing p {
	margin: 0px;
	padding: 0px;
}
.guangmang {
	position: absolute;
	z-index: -1;
	width: 100%;
}
.guize_c {
	width: 220px;
	padding: 40px;
	border-radius: 5px;
	text-align: left;
	margin-top: 20%;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-image: url(../images/guize_bg.png);
	height: 375px;
	background-size: contain;
	background-repeat: no-repeat;
}
.guize_c_c {
	width: 100%;
	height: 330px;
	overflow-x: hidden;
	overflow-y: scroll;
	color: #151515;
	line-height: 20px;
	margin-top: 60px;
}
.guize_c_c span {
	color: #fff;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.guize_c_c p {
	padding-bottom: 10px;
}
.close1 {
	text-align: center;
	width: 100%;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.close1 img {
	width: 8%;
	margin: 0 auto;
}
.bottom_c {
	text-align: center;
	font-size: 10px;
	color: #ffebb9;
	margin-bottom: 15px;
}
.bottom_c strong {
	font-size: 16px;
}
/*20190909复制*/
.copy-btn {
	position: absolute;
	right: 0;
	top: 7px;
	padding-top: 1px;
	padding-right: 2px;
	padding-bottom: 1px;
	padding-left: 2px;
	border: 1px solid #ccc;
	background-color: transparent;
	border-radius: 3px; /* 所有角都使用半径为5px的圆角，此属性为CSS3标准属性 */
}
.copy-demo {
	position: relative;
}
.pp {
	color: #fff!important;
	position: absolute;
	top: -12px;
	background-color: #fff!important;
	font-size: 12px;
	padding-top: 0px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 3px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	line-height: 20px!important;
	height: 20px;
}
.pp strong {
	background-color: #fff;
	color: #ec1647;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
    /*iPhone6和iPhone8*/
    @media only screen  and (device-width : 375px)  and (device-height : 667px)  and (-webkit-device-pixel-ratio : 2) {
.index_bg {
	display: block;
}
.index_bg2 {
	display: none;
}
}
	 /*iPhone6 Plus 和iPhone8 Plus*/
@media only screen  and (device-width : 414px)  and (device-height : 736px)  and (-webkit-device-pixel-ratio : 3) {
.index_bg {
	display: block;
}
.index_bg2 {
	display: none;
}
/*code*/
}
table.tb{ width:100%; border-collapse:collapse;}
table.tb tr{}
table.tb td{
	text-align: center;
	line-height: 30px;
}
table.tb2{ width:100%; border-collapse:collapse;}
table.tb2 tr{}
table.tb2 td{
	text-align: center;
	line-height: 30px;
	border: 1px solid #eee;
}table.tb3{
	width: 100%;
	border-collapse: collapse;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #eee;
	border-right-color: #eee;
	border-bottom-color: #eee;
	border-left-color: #eee;
	margin-bottom: 5px;
}
table.tb3 tr{}
table.tb3 td{
	text-align: center;
	line-height: 30px;
	font-size: 14px;
}
/*20200601新增*/
.tuijian_t2{
	width: 33.33%;
	text-align: center;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0%;
	margin-bottom: 10px;
	margin-left: auto;
}

.select{
	margin-top: 8px;
	border: 1px solid #ccc;
	background-color: #fff;
	border-radius: 10px;
	padding-right: 10px;
	padding-left: 10px;
	line-height: 25px;
}